<ion-tabs>
  <ion-tab-bar slot="bottom" selectedIndex="1" style="--background: #01141b">
    <ion-tab-button tab="inr">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="btc">
      <ion-icon name="logo-bitcoin"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="usdt">
      <ion-icon name="logo-usd"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="trade">
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="file-tray-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
