.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.first {
  color: white;
}

.first {
  overflow: hidden;
  white-space: nowrap;
}

.first:after {
  overflow: hidden;
  content: " .............................................................................";
}
