<ion-header>
  <ion-toolbar color="primary">
    <ion-title>INR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #01141b">
  <!-- <ion-toolbar color="primary">
    <ion-searchbar
      #search
      [(ngModel)]="symbol"
      (ionChange)="showSymbol($event)"
    ></ion-searchbar>
  </ion-toolbar> -->
  <ion-virtual-scroll
    [items]="displaySym | keyvalue"
    [itemHeight]="itemHeightFn"
    *ngIf="id"
  >
    <ion-card
      *virtualItem="let d"
      (click)="gotodata(d)"
      style="--background: #03384c"
    >
      <ion-card-header>
        <ion-card-title>
          <ion-text>{{ d.value['name'] }}</ion-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text>{{ d.value['full_name'] }}</ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <ion-text>
            <b style="font-size: 25px"
              >{{ d.value['buy'] | number: '1.0-2' }}</b
            >
          </ion-text>
          <ion-text>
            <b style="font-size: 25px"
              >{{ d.value['sell'] | number: '1.0-2' }}</b
            >
          </ion-text>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <ion-text>
            <b>Open: </b>{{ d.value['open'] | number: '1.0-2' }}
          </ion-text>
          <ion-text>
            <b>Last: </b>{{ d.value['last'] | number: '1.0-2' }}
          </ion-text>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <ion-text>
            <b>High: </b>{{ d.value['high'] | number: '1.0-2' }}
          </ion-text>
          <ion-text> <b>Lot Size: </b>{{ d.value['lot_size'] }} </ion-text>
          <ion-text>
            <b>Low: </b>{{ d.value['low'] | number: '1.0-2' }}
          </ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
  <div
    style="
      height: 90vh;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    *ngIf="!id"
  >
    <ion-text style="font-size: 24px; color: white; text-align: center">
      You must be logged in to your account to view and start trades.
    </ion-text>
  </div>
</ion-content>
